.taskboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    /* box-shadow: 18px 22px 5px -4px rgb(186 186 186 / 62%); */
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.dateadded {
    text-align: center;
}